body{
    background-color: rgb(178, 42, 83);
    text-align: center;
    text-shadow:100px;
    color: rgb(57, 0, 11);
    font-style: italic;
    margin-top: 40PX;
    margin-left:60px;
    margin-right:60px;
    font-weight: bolder;
    font-size:35px;
}
div{
    border-radius: 200px;
    background:rgb(241, 107, 147);
    text-align: center;
    padding:60px;
    font-family:cursive;
    font-family: cursive;
    font-style: italic;
    border-color: rgb(78, 0, 33);
    border-style: outset;
    border-width:3px;
    color: rgb(67, 5, 23);
    font-size: 15px;

}
.btn{
  background-color: rgb(229, 84, 113);
  padding:12px 24px;
  border-radius:8px;
}
#secondp{
    color: rgb(68, 1, 14);
    font-family:cursive;
    font-style: italic;
font-size: 20px;
text-align: left;
}
#firstp{
    color: rgb(18, 0, 59);
    font-size:20px;
    text-align: left;
    font-family: cursive;
    font-style: italic;
}