footer{
    background-color: rgb(63, 63, 114);
    text-align: center;
    height: 100px;
}
.btn
{
        display:inline-block;
        padding:12px 24px;
        background-color:#236daa;
        color:white;
        text-decoration:none;
        border-radius: 8px;
        font-weight: bold;
}

